<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .message-list {
            height: 400px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .sender {
            display: inline-block;
            background-color: #ededed;
            padding: 3px 5px;
            border-radius: 5px;
            margin-right: 5px;
            font-weight: bold;
            font-size: 14px;
            width: fit-content;
            max-width: 70%;
        }

        .message {
            display: flex;
            align-items: flex-start;
            justify-content: space-between; /* 추가 */
            font-size: 14px;
        }

        .timestamp {
            font-size: 12px;
            color: #999;
            margin-left: 5px;
            /* align-self: flex-end; 제거 */
        }

        .message-input-container {
            display: flex;
        }

        .message-input {
            flex-grow: 1;
        }

        .send-button {
            margin-left: 5px;
        }
    </style>
    <script>
        var roomId = window.location.pathname.split('/').pop();
        console.log('RoomId:', roomId);

        function loadMessages() {
  let accessToken = localStorage.getItem('accessToken');
  sendAuthenticatedRequest("/rooms/" + roomId + "/messages", "GET", null, accessToken).then(function (messages) {
    if (messages.length > 0) {
      // 메시지를 역순으로 정렬하여 리스트에 추가합니다.
      messages.forEach(function (message) {
        $("#message-list").prepend(renderMessage(message));
      });
    }
  });
}

function renderMessage(message) {
  var messageElement = document.createElement('li');
  messageElement.className = 'message';
  messageElement.style.display = 'flex';
  messageElement.style.flexDirection = 'row';
  messageElement.style.alignItems = 'center';
  messageElement.style.justifyContent = 'space-between';

  var messageWrapper = document.createElement('div');
  messageWrapper.className = 'message-wrapper';

  var senderContentWrapper = document.createElement('div');
  senderContentWrapper.className = 'sender-content-wrapper';

  var senderElement = document.createElement('span');
  senderElement.className = 'sender';
  senderElement.style.marginRight = '5px';
  senderElement.style.fontWeight = 'bold';
  senderElement.style.fontSize = '14px';
  senderElement.style.width = 'fit-content';
  senderElement.style.maxWidth = '70%';
  senderElement.textContent = message.sender;

  var contentElement = document.createElement('span');
  contentElement.className = 'content';
  contentElement.style.fontSize = '14px';
  contentElement.textContent = message.content;

  var timeElement = document.createElement('span');
  timeElement.className = 'timestamp';
  timeElement.style.fontSize = '12px';
  timeElement.style.color = '#999';
  timeElement.style.marginLeft = '5px';
  timeElement.style.alignSelf = 'flex-end';
  timeElement.textContent = moment(message.createdAt).format('LT');

  senderContentWrapper.appendChild(senderElement);
  senderContentWrapper.appendChild(contentElement);

  messageWrapper.appendChild(senderContentWrapper);
  messageWrapper.appendChild(timeElement);

  messageElement.appendChild(messageWrapper);

  return messageElement;
}
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-4"><span th:text="${roomName}"></span></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Messages</h4>
                </div>

                <ul class="card-body message-list" id="message-list">
                    <li th:each="message : ${messages}" class="message">
                        <span class="sender" th:text="${message.sender}"></span>
                        <span class="timestamp" th:text="${message.createdAt}"></span>
                        <p class="mb-0" th:text="${message.content}"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <form id="message-form" class="message-input-container">
                        <input type="text" name="content" class="form-control message-input" placeholder="메세지 입력">
                        <button type="submit" class="btn btn-primary send-button">send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    // 웹소켓 연결 및 구독 설정
    var socket = new SockJS('/ws');
    var stompClient = Stomp.over(socket);
    var accessToken = localStorage.getItem('accessToken');
stompClient.connect({
    headers: {
        'Authorization': 'Bearer ' + accessToken
    }
}, function (frame) {
    console.log('Connected: ' + frame);
    console.log('RoomId: ' + roomId);
    stompClient.subscribe('/topic/rooms/' + roomId, function (message) {
        console.log('Received message:', message);
        showMessage(JSON.parse(message.body));
    });
});

function sendWebSocketMessage(message) {
    stompClient.send("/app/rooms/" + roomId + "/chat",
        { 'Authorization': 'Bearer ' + accessToken },
        JSON.stringify(message));
}


    document.getElementById('message-form').addEventListener('submit', function (event) {
    event.preventDefault();
    var content = document.querySelector('input[name="content"]').value;
    if (content.trim() !== '') {
        sendWebSocketMessage({content: content, sender: '사용자 이름'});
        document.querySelector('input[name="content"]').value = '';
    }
});
    document.querySelector('input[name="content"]').addEventListener('keypress', function (event) {
    if (event.key === 'Enter') {
        event.preventDefault();
        document.getElementById('message-form').dispatchEvent(new Event('submit'));
    }
});

function showMessage(message) {
  var messageList = document.getElementById('message-list');
  var messageElement = renderMessage(message);
  messageList.appendChild(messageElement);
  messageList.scrollTop = messageList.scrollHeight;
}

    $(document).ready(function() {
    loadMessages(); // 페이지 로드 시 이전 메시지들을 로드합니다.
});

// 이전 코드에 없던 부분입니다.
async function sendAuthenticatedRequest(url, type, data, accessToken) {
    const response = await $.ajax({
        url: url,
        type: type,
        contentType: "application/json",
        headers: {
            'Authorization': 'Bearer ' + accessToken
        },
        data: JSON.stringify(data),
        statusCode: {
            401: async function() {
                const tokenRefreshed = await refreshAccessToken();

                if (tokenRefreshed) {
                    accessToken = localStorage.getItem('accessToken');
                    return await $.ajax({
                        url: url,
                        type: type,
                        contentType: "application/json",
                        headers: {
                            'Authorization': 'Bearer ' + accessToken
                        },
                        data: JSON.stringify(data),
                    });
                }
            }
        }
    });
    return response;
}
</script>
</body>
</html>