<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="roomdetail.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-4"><span th:text="${roomName}"></span></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <ul class="list-inline card-body" id="participant-list">
                        <!-- 참여자 이름이 동적으로 추가됩니다. -->
                        <!-- 이 부분에 참여자 이름이 추가되어야 합니다. -->
                    </ul>
                </div>

                <ul class="card-body message-list"  id="message-list">
                    <li th:each="message : ${messages}" class="message">
                        <span class="sender" th:text="${message.sender}">:</span>
                        <span class="timestamp" th:text="${message.createdAt}"></span>
                        <p class="mb-0" th:text="${message.content}"></p>
                    </li>
                    <!-- 아래 코드는 어떤 식으로 나오는지 테스트한 코드-->
                    <li th:each="message : ${messages}" style="margin-left: 25%; background-color: #FAFA96;" class="message">
                        <span class="sender" th:text="${message.sender}">:</span>
                        <span class="timestamp" th:text="${message.createdAt}"></span>
                        <p class="mb-0" th:text="${message.content}"></p>
                    </li>
                    <!---->
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <form id="message-form" class="message-input-container">
                        <input type="text" name="content" class="form-control message-input" placeholder="메세지 입력">
                        <button type="submit" class="btn btn-primary send-button">send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- 방 삭제 버튼 -->
                    <button type="button" id="delete-room-btn" class="btn btn-danger" style="display:none">방 삭제</button>
                    <!-- 방 나가기 버튼 -->
                    <button type="button" id="leave-room-btn" class="btn btn-warning">방 나가기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="roomdetail.js"></script>
</body>
</html>