<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카풀 모집 방</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <h2 class="mb-3">Chat Room List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <th scope="row" th:text="${room.id}"></th>
            <td th:text="${room.roomName}"></td>
            <td th:text="${room.description}"></td>
            <td th:text="${room.createdDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>